<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div *ngIf="laneChanges | async as laneChange ">responsive media size={{ laneChange.mq }} lanes={{ laneChange.lanes }}</div>
  <div *ngIf="options.fixedLanes">fixed lanes={{ options.fixedLanes }}</div>
  <button class="my-button" (click)="decrementLanes()">decrement lanes</button>
  <button class="my-button" (click)="incrementLanes()">increment lanes</button>
  <button class="my-button" (click)="addItem()">add item</button>
  <button class="my-button" (click)="removeFirstItem()">remove first item</button>  
</div>
<gb-gridboard #gridboard [items]="items" [options]="options" (laneChange)="onLaneChange($event)"></gb-gridboard>
